<h1>This is my first angular app(App root)</h1>
<app-user></app-user>
<app-login></app-login>
<app-profile></app-profile>
<app-signin></app-signin>
<app-counter></app-counter>
<app-eventdata></app-eventdata>
<app-inputdetails></app-inputdetails>
<app-flowcontrol></app-flowcontrol>
<app-flowcontrolwithelseif></app-flowcontrolwithelseif>
<app-flowcontrolwithswitch></app-flowcontrolwithswitch>
<app-loopwithfor></app-loopwithfor>
<app-signalone></app-signalone>
<app-signalwithcomputed></app-signalwithcomputed>
<app-album></app-album>
<app-calculation></app-calculation>
